<footer>
    <div class="row">
        <div class="col-12 py-4 text-center">
            <div class="footer-content"><span>Powered by</span>
                <a href="http://www.rateforce.net/" target="_blank"><img src="../../../../assets/images/RateForce_Logo.png"></a>
            </div>
        </div>
    </div>
</footer>