@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot') format('embedded-opentype'), url('../fonts/FontAwesome.woff2') format('woff2'), url('../fonts/FontAwesome.woff') format('woff'), url('../fonts/FontAwesome.ttf') format('truetype'), url('../fonts/FontAwesome.svg#FontAwesome') format('svg');
}

body {
    overflow-x: hidden;
    font-size: 16px !important;
    color: #505050 !important;
}

.fs-30 {
    font-size: 30px;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.sub-text {
    font-size: 22px;
}

button {
    cursor: pointer;
}

.text-red {
    color: #B10A0A !important;
}

.text-green {
    color: #2A952E !important;
}

.text-purple {
    color: #210D64 !important;
}

.container {
    max-width: 1192px !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
}

.container.pd-container {
    min-height: calc(100vh - 160px);
}

header {
    background: #1e1246;
}

.header-inner {
    height: 80px;
    align-items: center;
}

header .container {
    box-shadow: inherit;
    border-radius: 0;
    min-height: inherit;
}

.header-logo img {
    display: block;
    width: 180px;
}

.login-scr-cvr {
    background-image: url("../images/login_screen_bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px 35px 35px !important;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.login-scr-cvr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(6, 47, 123, 0.52);
    left: 0;
    top: 0;
}

.footer-content span {
    color: #7c7c7c;
    margin-right: 15px;
    font-size: 18px;
}

.footer-content img {
    width: 170px;
    display: inline-block;
}

.login-form {
    background: rgba(30, 18, 70, 0.84);
    padding: 30px 45px !important;
    border-radius: 20px;
    border: 1px solid #fff;
}

.signup-screeen .login-form {
    background: rgba(6, 47, 123, 0.74);
}

.big-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.1;
    font-family: 'Arial';
}

.welcome-text {
    font-size: 40px;
    margin-bottom: 25px;
}

.login-scr-cvr .form-control {
    padding: 8px 8px 12px;
    border-radius: 17px;
    border: none;
    box-shadow: none !important;
    text-align: center;
    font-size: 24px;
    height: 55px;
}

.login-form label {
    color: #bcbcbc;
    line-height: 1;
    margin-bottom: 15px;
}

.login-scr-cvr form {
    margin-top: 60px;
    margin-bottom: 60px;
}

.login-form .form-field {
    margin-bottom: 25px;
}

.login-screen-disc ul {
    padding-left: 0;
    list-style-type: none;
}

.login-screen-disc {
    font-family: 'Arial';
}

.footer-content img {
    width: 140px;
}

.login-screen-disc {
    margin-left: 80px;
}

.form-field-submit input {
    font-size: 22px;
    line-height: 1;
    background: #4c7aab;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 30px;
    width: 80%;
    text-transform: uppercase;
    transition: 0.3s;
}

.form-field-submit input:hover {
    color: #4c7aab;
    background: #ffffff;
}

.signup-link a {
    color: #6cb0ff !important;
    font-weight: bold;
    margin-left: 10px;
}

a {
    transition: 0.2s;
}

.login-scr-cvr .form-control::placeholder {
    color: #a9a9a9;
}

.signup-link {
    font-size: 22px;
}

.tabing_navigatiin {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0 !important;
    margin-left: 100px;
}

.tabing_navigatiin ul li a {
    font-family: 'Arial';
    background: transparent linear-gradient(180deg, #868686 0%, #3c3c3c 100%) 0% 0% no-repeat padding-box;
    font-size: 20px;
    padding: 6px 25px 8px !important;
    border-bottom: none;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    display: inline-block;
}

.tabing_navigatiin ul li.active a,
.tabing_navigatiin ul li a:hover {
    background: transparent linear-gradient(180deg, #7B57FA 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
}

.tabing_navigatiin ul li {
    float: left;
    margin-right: 3px;
}

.header-inner .navbar-nav {
    max-width: 650px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.right_header {
    margin-left: auto;
    align-items: center;
}

.right_header .my-account {
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.right_header .h-notification {
    margin-right: 20px;
    position: relative;
}

.right_header .bell-icon img {
    width: 28px;
}

.my-account .user-icon {
    margin-right: 10px;
}

.my-account .dropdown-toggle {
    display: flex;
    align-items: center;
}

.my-account .dropdown-menu {
    margin-top: 13px;
    background: #1e1246;
    border-radius: 0 0 10px 10px;
    padding: 0 15px 5px;
}

.my-account .dropdown-menu>li>a {
    background: inherit !important;
    color: #ffffff !important;
}

.my-account .dropdown ul li a {
    border-top: 1px solid #666666;
    padding: 8px 0;
    display: flex;
    font-weight: 600;
}

.my-account .dw-icon {
    margin-right: 8px;
}

.dropdown.open>.dropdown-menu {
    display: block;
}

.my-account .mobile_rob {
    font-size: 18px;
}

.my-account .dropdown-toggle:after {
    display: none !important;
}

.pd-container {
    padding: 30px !important;
}

.main-heading {
    color: #210D64;
    line-height: 1;
    font-size: 30px;
    font-family: 'Arial';
}


/*-----------Policy Information------------*/

.policy-header .pol-header-r {
    margin-left: auto;
    text-align: right;
}

.policy-header .pol-detl {
    display: block;
}

.box-strip {
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background: #210D64;
    font-weight: 600;
    line-height: 1;
    padding: 9px 15px 8px !important;
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
}

.panel-box {
    border: 1px solid #707070;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.box-cont {
    padding: 30px;
}

.col-md-4 .box-cont {
    padding: 20px;
}

.recrutind-card-dt {
    width: 55%;
    float: left;
    text-align: center;
    font-family: 'Arial';
}

.amount-charge {
    width: 45%;
    float: right;
    text-align: center;
    font-family: 'Arial';
}

.payment-calc {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

.payment-calc ul li {
    padding: 10px 0;
    border-top: 2px solid #B7B7B7;
}

.payment-calc ul li span {
    float: right;
}

.recrutind-card-dt p {
    font-size: 18px;
    line-height: 1.2;
}

.payment-dt {
    display: block;
    line-height: 1;
    font-weight: 600;
    font-family: 'Arial';
}

.amt-count {
    font-size: 55px;
    font-weight: 600;
    color: #2A952E;
    font-family: 'Arial';
    line-height: 1.2;
}

.pay-btn button {
    padding: 14px 50px;
    line-height: 1;
}

.gradient-btn button {
    background: transparent linear-gradient(180deg, #7B57FA 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
    border: none;
    color: #ffffff;
    font-weight: 600;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Arial'
}

.gradient-btn button:hover {
    background: transparent linear-gradient(180deg, #3F21A0 0%, #7B57FA 100%) 0% 0% no-repeat padding-box;
}

.select-payment-meth a {
    color: #606060;
    text-decoration: underline;
}

.select-payment-meth a:hover {
    color: #007bff;
}

.pay-btn {
    margin-top: 15px;
}

.policy-header {
    margin-bottom: 30px;
}

.select-payment-meth {
    margin-top: 10px;
}

.insured-box .main-heading {
    margin-bottom: 0;
}

.insured-box .address {
    display: inline-block;
    line-height: 1.2;
    margin: 20px 0;
}

.panel-box.veh-box,
.panel-box.payment-schd {
    border-radius: 0;
    border-top: 0;
}

.gray-strip {
    font-size: 20px;
    color: #505050;
    background: #cbcbcb;
    font-weight: 600;
    line-height: 1;
    padding: 9px 15px 8px !important;
    font-family: 'Arial';
}

.veh-box .prodc-info {
    display: inline-block;
    font-size: 18px;
    line-height: 1.47;
}

.strip-icons img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.id-cards-panel .box-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.strip-icons .fax {
    margin: 0 15px;
}

.id-cards-panel {
    margin-top: 25px;
}

.id-card-img img {
    width: 100%;
}

.card-img-inner {
    border: 1px solid #707070;
    padding: 20px;
    border-radius: 10px;
}


/*------------Payments------------*/

.payment-sum-panel {
    width: 100%;
}

.payment-det-innet {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.payment-card-des {
    float: left;
    width: 55%;
}

.card-des-inner {
    width: 360px;
    background: #1E1246;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    position: relative;
}

.visa-logo {
    text-align: right;
    width: 100%;
}

.card-number {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    margin-top: 25px;
}

.card-small-numb {
    margin-top: 15px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
    font-family: 'Arial';
}

.card-identity {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
}

.card-identity .valid-thru {
    display: inline-block;
    line-height: 1.1;
    font-size: 7px;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 6px;
}

.card-identity .exp-dt {
    margin-left: auto;
    width: 30%;
    display: inline-block;
    text-align: right;
}

.card-identity .c-name {
    width: 70%;
}

.card-edit a {
    background: #6D4AE5;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    bottom: -7px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.card-edit a img {
    display: block;
}

.panel-bordered-table table {
    width: 100%;
    font-size: 18px;
    font-family: 'Arial';
    color: #606060;
    margin-bottom: 25px;
}

.panel-bordered-table table:last-child {
    margin-bottom: 0;
}

.panel-bordered-table table tr {
    border-bottom: 2px solid #B7B7B7;
}

.panel-bordered-table table tr td:last-child {
    text-align: right;
    width: 20%;
}

.panel-bordered-table table tr td {
    padding: 13px 0;
    line-height: 1.1;
    width: 25%;
    min-width: 25%;
}

.panel-sub-title {
    line-height: 1;
    font-size: 18px;
    font-family: 'Arial';
    font-weight: 600;
    color: #1E1246;
}

.payment-status {
    padding-left: 12px;
    font-size: 12px;
    font-weight: bold;
}

.pay-schd-table tr td {
    width: 25%;
}

.pay-schd-table tr td:first-child {
    width: 15%;
}

.policy-docs .panel-bordered-table table tr td {
    width: auto;
}

.panel-box.policy-docs table tr:first-child td {
    padding-top: 0;
}

.policy-docs table tr td a {
    color: #606060;
    text-decoration: underline;
    font-weight: bold;
}

.policy-docs table tr td a:hover {
    color: #007bff;
}

.edit-card-tab .payment-card-des {
    width: 100%;
}

.edit-card-tab .amount-charge {
    width: 100%;
    margin-top: 40px;
}

.edit-card-info {
    background: #5A5C5B;
    border-radius: 20px;
    padding: 60px 40px;
    color: #ffffff;
    font-family: 'Arial';
    margin-left: 50px;
}

.card-holder-name {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    width: 80%;
    float: left;
}

.card-type {
    font-weight: bold;
    float: right;
    width: 20%;
    text-align: right;
}

.edit-card-info .col-12 {
    display: inline-block;
    width: 100%;
    padding: 0;
}

.edit-card-info label {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    line-height: 1;
}

.e-card-number .card-inp-field {
    display: flex;
    justify-content: space-between;
}

.card-inp-field input {
    width: 23%;
    border: none;
    border-bottom: 2px solid #b7b7b7;
    background: none !important;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}

.e-card-number {
    margin: 50px 0 70px;
}

.field-devider {
    font-size: 30px;
}

.cvc-num {
    width: 15%;
    margin-left: auto;
    text-align: right;
}

.cvc-num .card-inp-field input {
    width: 100%;
}

.card-expr-dt .card-inp-field input {
    width: 35%;
    text-align: center;
}

.card-expr-dt {
    width: 30%;
}

.add-card-btn button {
    padding: 13px 38px;
}

.add-card-btn.gradient-btn {
    float: right;
    margin-top: 20px;
}

.payment-verification {
    text-align: center;
}

.ver-amt-inner {
    font-size: 45px;
    font-weight: bold;
    color: #222222;
    line-height: 1;
    margin: 40px 0;
}

.ver-cont-btn button {
    background: #919191;
    color: #ffffff;
    font-size: 30px;
    line-height: 1;
    border: 1px solid #707070;
    border-radius: 50px;
    padding: 12px 60px 16px;
    transition: 0.3s;
}

.right-icon {
    background: transparent linear-gradient(180deg, #814AFF 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
    width: 290px;
    height: 290px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.ver-cont-btn button:hover {
    background: #303030;
}

.edit-policy-info .p-input-field input {
    border: none;
    border-bottom: 2px solid #b7b7b7;
    display: block;
    font-size: 25px;
    color: #505050;
    width: 100%;
}

.edit-policy-info .p-input-field label {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.edit-policy-info .p-input-field {
    width: 50%;
}

.p-input-field.d-flex {
    justify-content: space-between;
    width: 62%;
}

.half-input.state-field {
    width: 15% !important;
}

.p-input-field .half-input {
    width: 28%;
}

.p-input-field .half-input input {
    text-align: center;
}

.edit-policy-info {
    padding: 20px 0;
}

.strip-right-text a {
    float: right;
    text-transform: capitalize;
    color: #ffffff !important;
}

.pay-now-screen {
    padding: 0 50px;
}

.pay-now-screen .lg-card {
    width: 100%;
    padding: 50px;
    border-radius: 25px;
}

.lg-card .visa-logo img {
    width: 95px;
}

.lg-card .card-small-numb {
    font-size: 16px;
}

.lg-card .card-number {
    margin-top: 50px;
}

.lg-card .card-identity .valid-thru {
    font-size: 10px;
}

.lg-card .card-identity {
    margin-top: 40px;
}

.pay-now-screen .col-md-5 .card-des-inner {
    margin-bottom: 20px;
    width: 100%;
}

.right-add-card .payment-card-des {
    width: 90% !important;
    float: right;
    margin-top: 20px;
}

.card-des-inner.card-1 {
    background: #B156A6;
}

.card-des-inner.card-2 {
    background: #1E1246;
}

.card-des-inner.card-3 {
    background: #12858E;
}

.card-selected .selected-sign {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 32px;
    width: 32px;
    background: #18AD4C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100% !important;
    border: 1px solid #fff;
}

.card-selected .selected-sign img {
    width: 15px;
    display: block;
}

.gradient-btn .btn-sm {
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 8px;
}

.select-payment-meth .text-green {
    font-size: 18px;
    font-weight: bold;
}


/*----------Popup-----------*/

.popup-center .modal-dialog {
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.popup-cover .modal-content {
    width: 800px;
    border-radius: 30px;
    overflow: hidden;
}

.popup-header {
    background: transparent linear-gradient(180deg, #7B57FA 0%, #3F21A0 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
    padding: 10px 30px;
}

.popup-header .popup-title {
    line-height: 1.1;
    margin-bottom: 0;
}

.radio-btn input {
    position: absolute;
    left: -9999px;
}

.radio-btn label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 1.3;
    display: inline-block;
    color: #666;
}

.radio-btn label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #8d8d8d;
}

.radio-btn label::after {
    content: '';
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: inset 0 0 4px #000;
    border: 2px solid #222;
}

.radio-btn input:not(:checked)+label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.radio-btn input:checked+label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.popup-header .popup-title {
    float: left;
}

.popup-header .close {
    float: right;
    background: #8d8d8d;
    opacity: 1 !important;
    text-shadow: none;
    color: #ffffff !important;
    height: 38px;
    width: 38px;
    border-radius: 100%;
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s;
}

.popup-header .close:hover {
    background: #6d6d6d;
}

.popup-body .text-purple {
    font-size: 18px;
}

.popup-body {
    padding: 25px;
    font-family: 'Arial';
}

.popup-body .row {
    margin-top: 20px;
}

.radio-btn-cvr {
    align-items: center;
}

.bank-eft-form .radio-btn label {
    padding-left: 38px;
    color: #210D64;
    font-size: 20px;
}

.bank-eft-form .radio-btn {
    margin-right: 70px;
}

.bank-eft-form .radio-btn:last-child {
    margin-right: 0px;
}

.bank-eft-form label {
    font-size: 18px;
    color: #210D64;
}

.popup-body .form-control {
    border-color: #707070;
    padding: 10px;
    border-radius: 10px;
}

.form-control {
    box-shadow: none !important;
    outline: none !important;
}

.popup-body .form-field {
    margin-top: 18px;
}

.popup-right-box {
    text-align: center;
    margin-left: 60px;
    padding: 30px;
    border: 1px solid #707070;
    border-radius: 20px;
}

.pay-diff-amt .form-control {
    padding: 15px;
    height: 65px;
    font-size: 40px;
    text-align: center;
}

.sub-text {
    font-size: 22px;
    line-height: 1.1;
}

.popup-right-amount.text-green {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 30px;
}

.pay-diff-amt .form-field {
    margin-top: 10px;
}

.pop-save-btn button {
    padding: 10px 40px;
    float: right;
    margin-top: 20px;
    border-radius: 12px;
}


/*-----------Target IE Only-----------*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .pay-diff-amt .form-control,
    .login-scr-cvr .form-control {
        padding-top: 0;
        padding-bottom: 0px;
    }
    .bank-eft-form .form-control {
        padding-top: 0px;
        padding-bottom: 0px;
        height: 40px;
    }
}


/*---------------Media Quaries
-----------------------------------------------*/

@media only screen and (max-width: 1600px) {
    .my-account .dropdown-menu {
        margin-top: 11px;
    }
    .container.pd-container {
        min-height: calc(100vh - 135px);
    }
    body {
        font-size: 14px !important;
    }
    .container {
        max-width: 860px !important;
    }
    .login-scr-cvr {
        padding: 50px 25px 25px !important;
    }
    .header-logo img {
        width: 140px;
    }
    .header-inner {
        height: 55px;
    }
    .welcome-text {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .fs-25 {
        font-size: 17px;
    }
    .big-title {
        font-size: 34px;
    }
    .login-screen-disc {
        margin-left: 55px;
    }
    .login-form {
        padding: 25px 30px !important;
        border-radius: 18px;
    }
    .login-scr-cvr .form-control {
        padding: 8px 8px 12px;
        border-radius: 15px;
        font-size: 20px;
        height: 40px;
    }
    .login-scr-cvr form {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form-field-submit input {
        font-size: 18px;
        padding: 10px 20px;
        width: 85%;
    }
    .login-form .form-field {
        margin-bottom: 18px;
    }
    .login-form {
        max-width: 40% !important;
    }
    .login-screen-disc {
        max-width: 60% !important;
    }
    .footer-content span {
        font-size: 16px;
    }
    .login-screen-disc ul li {
        padding-bottom: 3px;
    }
    .signup-link a {
        font-weight: 600;
    }
    .tabing_navigatiin ul li a {
        font-size: 14px;
        padding: 5px 15px 7px !important;
        border-radius: 8px 8px 0 0;
    }
    .header-inner .navbar-nav {
        max-width: 470px;
    }
    .my-account .mobile_rob {
        font-size: 14px;
    }
    .user-icon img {
        width: 30px;
    }
    .my-account .user-icon {
        margin-right: 6px;
    }
    .tabing_navigatiin {
        margin-left: 60px;
    }
    .pd-container {
        padding: 25px !important;
    }
    .main-heading {
        font-size: 20px;
    }
    .fs-20 {
        font-size: 14px;
    }
    .col-md-4 .box-cont {
        padding: 10px;
    }
    .payment-sum-panel .col-md-4 {
        padding-left: 5px !important;
    }
    .policy-header {
        margin-bottom: 20px;
    }
    .box-strip {
        font-size: 14px;
        padding: 7px 12px !important;
    }
    .recrutind-card-dt p {
        font-size: 13px;
    }
    .amount-charge {
        width: 45%;
    }
    .recrutind-card-dt {
        width: 55%;
    }
    .amt-count {
        font-size: 38px;
    }
    .pay-btn button {
        padding: 10px 35px;
    }
    .gradient-btn button {
        font-size: 15px;
        border-radius: 10px;
    }
    .select-payment-meth {
        margin-top: 5px;
    }
    .pay-btn {
        margin-top: 10px;
    }
    .gray-strip {
        font-size: 14px;
        padding: 7px 12px !important;
    }
    .insured-box .address {
        margin: 10px 0;
    }
    .payment-calc ul li {
        padding: 6px 0;
    }
    .payment-calc {
        margin-top: 20px;
    }
    .strip-icons img {
        width: 22px;
    }
    .id-cards-panel .box-cont {
        padding: 20px;
    }
    .card-img-inner {
        padding: 15px;
        border-radius: 8px;
    }
    .id-cards-panel .col-md-6:first-child {
        padding-right: 10px !important;
    }
    .id-cards-panel .col-md-6:last-child {
        padding-left: 10px !important;
    }
    .veh-box .prodc-info {
        font-size: 14px;
        line-height: 1.3;
    }
    .panel-box.veh-box .box-cont {
        padding: 13px 10px !important;
    }
    .box-cont {
        padding: 18px;
    }
    .id-cards-panel {
        margin-top: 15px;
    }
    .panel-box {
        border-radius: 8px 8px 0 0;
    }
    .right-icon {
        width: 200px;
        height: 200px;
    }
    .right-icon img {
        width: 90px;
    }
    .ver-amt-inner {
        font-size: 32px;
    }
    .ver-cont-btn button {
        font-size: 20px;
        padding: 10px 50px 14px;
    }
    .card-des-inner {
        width: 93%;
        border-radius: 10px;
        padding: 15px 20px;
    }
    .card-small-numb {
        margin-top: 10px;
        font-size: 10px;
    }
    .card-identity {
        margin-top: 15px;
    }
    .card-edit a {
        height: 28px;
        width: 28px;
        right: -12px;
        bottom: -10px;
        padding: 8px;
    }
    .card-des-inner .visa-logo img {
        width: 50px;
    }
    .payment-det-innet {
        margin-bottom: 15px;
    }
    .panel-bordered-table table {
        margin-bottom: 20px;
        font-size: 13px;
    }
    .panel-bordered-table table tr td {
        padding: 8px 0;
    }
    .panel-sub-title {
        font-size: 14px;
    }
    .pay-schd-table tr td {
        font-size: 12px;
    }
    .payment-status {
        padding-left: 8px;
        font-size: 10px !important;
    }
    .edit-card-info {
        border-radius: 15px;
        padding: 30px 30px 35px;
        margin-left: 15px;
    }
    .card-identity {
        font-size: 12px;
    }
    .card-identity .valid-thru {
        font-size: 6px;
        margin-right: 4px;
    }
    .edit-card-info label {
        font-size: 14px;
    }
    .e-card-number {
        margin: 30px 0 50px;
    }
    .card-inp-field input {
        font-size: 18px;
    }
    .edit-card-tab .card-des-inner {
        width: 100%;
    }
    .add-card-btn button {
        padding: 10px 30px;
    }
    .pay-now-screen {
        padding: 0 30px;
    }
    .pay-now-screen .col-md-5 .card-des-inner:last-child {
        margin-bottom: 0;
    }
    .pay-now-screen .col-md-7.pr-5 {
        padding-right: 20px !important;
    }
    .pay-now-screen .lg-card {
        padding: 30px;
        border-radius: 20px;
    }
    .pay-now-screen .col-md-7 .visa-logo img {
        width: 66px;
    }
    .lg-card .card-number {
        margin-top: 35px;
    }
    .fs-30 {
        font-size: 24px;
    }
    .lg-card .card-small-numb {
        font-size: 12px;
    }
    .edit-card-tab .amount-charge {
        margin-top: 20px;
    }
    .pay-now-screen .col-md-5 .card-des-inner {
        margin-bottom: 15px;
    }
    .card-selected .selected-sign {
        height: 25px;
        width: 25px;
    }
    .card-selected .selected-sign img {
        width: 12px;
    }
    .gradient-btn .btn-sm {
        padding: 4px 15px;
        font-size: 12px;
        border-radius: 6px;
    }
    .right-add-card .payment-card-des {
        margin-top: 15px;
    }
    .select-payment-meth .text-green {
        font-size: 14px;
    }
    .edit-policy-info .p-input-field input {
        font-size: 18px;
        font-weight: 600;
    }
    .popup-cover .modal-content {
        width: 600px;
        border-radius: 16px;
    }
    .popup-header .close {
        height: 28px;
        width: 28px;
        font-size: 18px;
    }
    .popup-body {
        padding: 15px 18px 20px;
    }
    .popup-body .text-purple {
        font-size: 14px;
    }
    .bank-eft-form .radio-btn label {
        padding-left: 36px;
        font-size: 15px;
    }
    .radio-btn label::before {
        width: 22px;
        height: 22px;
    }
    .radio-btn label::after {
        width: 14px;
        height: 14px;
        top: 4px;
        left: 4px;
    }
    .bank-eft-form .radio-btn {
        margin-right: 50px;
    }
    .bank-eft-form label {
        font-size: 14px;
    }
    .popup-body .form-control {
        padding: 6px 10px;
        border-radius: 8px;
        font-size: 14px;
    }
    .popup-body .form-field {
        margin-top: 12px;
    }
    .popup-right-box {
        margin-left: 30px;
        padding: 26px 20px;
        border-radius: 15px;
    }
    .sub-text {
        font-size: 16px;
    }
    .popup-right-amount.text-green {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .pay-diff-amt .form-control {
        height: 50px;
        font-size: 30px;
    }
    .popup-header {
        padding: 8px 18px;
    }
}

@media only screen and (max-width: 1023px) {
    .header-logo img {
        width: 120px;
    }
    .container {
        max-width: 95% !important;
    }
    .welcome-text {
        font-size: 25px;
    }
    .login-form {
        padding: 20px 20px !important;
        border-radius: 13px;
        max-width: 45% !important;
    }
    .login-screen-disc {
        max-width: 55% !important;
        flex: inherit !important;
        margin-left: 40px;
    }
    .big-title {
        font-size: 28px;
    }
    .fs-25 {
        font-size: 15px;
    }
    .login-scr-cvr .form-control {
        border-radius: 10px;
        font-size: 16px;
    }
    .right-icon img {
        width: 50%;
    }
    .right-icon {
        width: 150px;
        height: 150px;
    }
    .payment-verification {
        margin-top: 50px;
    }
    .tabing_navigatiin {
        margin-left: 40px;
    }
    .header-inner .navbar-nav {
        max-width: 380px;
    }
    .tabing_navigatiin ul li a {
        font-size: 13px;
        padding: 4px 13px 5px !important;
    }
    .my-account .mobile_rob {
        font-size: 13px;
    }
    .user-icon img {
        width: 25px;
    }
    .dw-icon img {
        width: 16px
    }
    .my-account .dropdown ul li a {
        padding: 5px 0;
        font-size: 12px;
    }
    .my-account .dropdown-menu {
        margin-top: 14px;
    }
    .pd-container {
        padding: 20px !important;
    }
    .box-strip {
        font-size: 13px;
    }
    .box-cont {
        padding: 12px;
    }
    .main-heading {
        font-size: 18px;
    }
    .insured-box .main-heading {
        font-size: 16px;
    }
    .fs-20 {
        font-size: 13px;
    }
    .pay-schd-table {
        overflow: auto;
    }
    .pay-schd-table table {
        width: 250px;
    }
    .amt-count {
        font-size: 30px;
    }
    .card-des-inner {
        width: 94%;
        padding: 10px 15px;
    }
    .gradient-btn button {
        font-size: 14px;
        border-radius: 8px;
    }
    .pay-btn button {
        padding: 10px 25px;
    }
    .edit-card-info {
        padding: 20px 20px 25px;
        margin-left: 0;
    }
    .e-card-number {
        margin: 20px 0 40px;
    }
    .card-inp-field input {
        font-size: 16px;
    }
    .add-card-btn button {
        padding: 7px 20px;
    }
    .pol-header-l .main-heading {
        margin-bottom: 0;
    }
    .pay-now-screen {
        padding: 0 10px;
    }
    .card-selected .selected-sign img {
        width: 10px;
    }
    .card-selected .selected-sign {
        height: 22px;
        width: 22px;
    }
    .card-des-inner {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .pay-now-screen .col-md-7.pr-5 {
        padding-right: 0px !important;
    }
    .pay-now-screen .lg-card {
        padding: 25px;
        border-radius: 15px;
    }
    .fs-30 {
        font-size: 20px;
    }
    .lg-card .card-identity .valid-thru {
        font-size: 7px;
    }
    .gray-strip {
        font-size: 13px;
    }
    .veh-box .prodc-info {
        font-size: 13px;
    }
    .panel-box.veh-box .box-cont {
        padding: 11px 10px !important;
    }
    .card-expr-dt .card-inp-field input {
        width: 45%;
    }
}

@media only screen and (max-width:767px) {
    .header-inner {
        height: 45px;
    }
    .login-scr-cvr {
        padding: 20px 20px 22px !important;
    }
    footer .text-center {
        padding: 12px 0 15px !important;
    }
    .footer-content span {
        font-size: 14px;
    }
    .welcome-text {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .fs-25 {
        font-size: 14px;
    }
    .login-scr-cvr form {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .login-screen-disc {
        max-width: 50% !important;
        flex: inherit !important;
        margin-left: 20px;
    }
    .big-title {
        font-size: 24px;
    }
    .form-field-submit input {
        font-size: 15px;
        padding: 8px 10px;
        width: 60%;
    }
    .login-scr-cvr .form-control {
        padding: 8px 8px 10px;
        height: 35px;
        border-radius: 8px;
        font-size: 15px;
    }
    .login-form label {
        margin-bottom: 10px;
    }
    .login-form .form-field {
        margin-bottom: 12px;
    }
    .tabing_navigatiin {
        margin-top: 0;
        margin-left: 20px;
    }
    .tabing_navigatiin .navbar-toggler {
        padding: 0;
        border: none !important;
        outline: none !important;
    }
    .tabing_navigatiin ul li a {
        padding: 6px 13px 7px !important;
    }
    .tabing_navigatiin #collapsibleNavbar {
        position: absolute;
        top: 37px;
        min-width: 200px;
    }
    .navbar-dark .navbar-nav .nav-link {
        display: block;
        border-radius: 0;
        position: relative;
        z-index: 9;
    }
    .right_header .my-account {
        margin-right: 10px;
    }
    .my-account .dropdown-menu {
        margin-top: 9px;
    }
    .pd-container {
        padding: 15px !important;
    }
    .payment-verification {
        margin-top: 10px;
    }
    .right-icon {
        width: 90px;
        height: 90px;
    }
    .ver-amt-inner {
        font-size: 22px;
        margin: 20px 0;
    }
    .ver-cont-btn button {
        font-size: 16px;
        padding: 8px 40px 12px;
    }
    .payment-sum-panel.d-flex,
    .edit-card-cover.d-flex {
        display: block !important;
    }
    .card-des-inner {
        width: 90%;
        padding: 15px;
    }
    .payment-sum-panel .col-md-8 {
        padding-right: 0 !important;
        margin-bottom: 20px;
    }
    .payment-sum-panel .col-md-4 {
        padding-left: 0 !important;
    }
    .edit-card-cover.d-flex .col-12 {
        padding: 0 !important;
    }
    .edit-card-cover.d-flex .payment-det-innet.edit-card-tab {
        display: flex;
        align-items: center;
    }
    .edit-card-tab .amount-charge {
        margin-top: 0;
    }
    .pay-now-screen {
        padding: 0;
    }
    .pay-now-screen .col-md-7 {
        width: 55% !important;
    }
    .pay-now-screen .col-md-5.right-add-card {
        width: 45% !important;
        padding-left: 0 !important;
    }
    .pay-now-screen .lg-card {
        padding: 18px;
    }
    .lg-card .card-number {
        margin-top: 25px;
    }
    .fs-30 {
        font-size: 18px;
    }
    .lg-card .card-identity {
        margin-top: 30px;
    }
    .pay-now-screen .amount-charge {
        margin-top: 15px;
    }
    .popup-header .popup-title {
        margin-top: 2px;
    }
    .popup-header {
        padding: 4px 18px;
    }
    .popup-cover .modal-content {
        width: 520px;
        border-radius: 12px;
    }
    .popup-body {
        height: 260px;
        overflow: auto;
        position: relative;
    }
    .popup-header .close {
        height: 25px;
        width: 25px;
        font-size: 14px;
    }
    .bank-eft-form .radio-btn {
        margin-right: 20px;
    }
    .bank-eft-form .radio-btn label {
        padding-left: 30px;
        font-size: 14px;
    }
    .radio-btn label::before {
        width: 20px;
        height: 20px;
    }
    .radio-btn label::after {
        width: 12px;
        height: 12px;
    }
    .popup-right-box {
        padding: 20px 15px;
        border-radius: 12px;
        margin-left: 0;
    }
    .popup-right-amount.text-green {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .sub-text {
        font-size: 14px;
    }
    .pay-diff-amt .form-control {
        height: 40px;
        font-size: 25px;
    }
    .bank-eft-form label {
        margin-bottom: 3px;
    }
    .gradient-btn.pop-save-btn {
        width: 100%;
        display: inline-block;
    }
    .gradient-btn.pop-save-btn button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .id-cards-panel .col-md-6 {
        margin-bottom: 15px;
    }
    .id-cards-panel .col-md-6:first-child {
        padding-right: 15px !important;
    }
    .id-cards-panel .col-md-6:last-child {
        padding-left: 15px !important;
        margin-bottom: 0;
    }
    .edit-policy-info {
        padding: 0;
    }
}

@media only screen and (max-width:767px) {
    .container {
        max-width: 100% !important;
        border-radius: 0;
    }
    .container.pd-container {
        min-height: calc(100vh - 100px);
    }
    .col-12.login-scr-cvr {
        display: block;
    }
    .signup-screeen .login-form,
    .login-scr-cvr .login-form {
        max-width: 100% !important;
        margin-bottom: 20px;
    }
    .col-12.login-screen-disc {
        max-width: 100% !important;
        margin: 0;
    }
    .header-inner {
        height: 45px;
        padding: 0 20px;
    }
    .welcome-text {
        font-size: 22px;
    }
    .big-title {
        font-size: 22px;
    }
    .login-screen-disc ul {
        margin-bottom: 0;
    }
    .login-scr-cvr {
        border-radius: 0;
    }
    .form-field-submit input {
        padding: 10px 10px;
        width: 50%;
    }
    .header-logo img {
        width: 100px;
    }
    .policy-header.d-flex {
        display: block !important;
    }
    .policy-header .pol-header-r {
        margin-top: 10px;
        text-align: left;
    }
    .right-icon {
        width: 110px;
        height: 110px;
    }
    .payment-verification {
        margin-top: 30px;
    }
    footer .text-center {
        padding: 15px 0 !important;
    }
    .payment-card-des {
        width: 100%;
        margin-bottom: 20px;
    }
    .card-des-inner {
        width: 90%;
        padding: 20px;
        margin: 0 auto;
    }
    .amount-charge {
        width: 100%;
    }
    .panel-bordered-table table {
        width: 500px;
    }
    .panel-bordered-table {
        overflow: auto;
    }
    .edit-card-cover.d-flex .col-12 {
        padding: 0 !important;
        clear: both;
    }
    .edit-card-cover.d-flex .payment-det-innet.edit-card-tab {
        display: inline-block;
        width: 100%;
    }
    .edit-card-tab .card-des-inner {
        width: 90%;
    }
    .card-holder-name {
        width: 70%;
    }
    .card-type {
        width: 30%;
    }
    .card-inp-field input {
        font-size: 20px;
        padding: 0px;
    }
    .e-card-number {
        margin: 16px 0 20px;
    }
    .card-expr-dt {
        width: 50%;
    }
    .cvc-num {
        width: 30%;
    }
    .cvc-num .card-inp-field input {
        padding: 5px;
    }
    .pay-now-screen .col-md-7,
    .pay-now-screen .col-md-5.right-add-card {
        width: 100% !important;
    }
    .pay-now-screen.d-flex {
        display: block !important;
    }
    .right-add-card .payment-card-des {
        margin: 20px auto 0 !important;
        width: 100% !important;
    }
    .right-add-card .payment-card-des .card-des-inner {
        width: 90%;
        margin-bottom: 20px;
    }
    .right-add-card .gradient-btn.float-right {
        float: none !important;
        width: 90%;
        margin: 0 auto;
    }
    .pay-now-screen .col-md-5.right-add-card {
        display: inline-block;
        margin-bottom: 10px;
    }
    .pay-now-screen .amount-charge {
        margin-top: 0;
    }
    .edit-policy-info .p-input-field,
    .p-input-field.d-flex {
        width: 100%;
    }
    .p-input-field .half-input {
        width: 38%;
    }
    .edit-policy-info .p-input-field input {
        font-size: 16px;
    }
    .id-cards-panel .box-cont {
        padding: 15px;
    }
    .recrutind-card-dt {
        width: 100%;
    }
    .popup-body {
        height: 500px;
    }
    .popup-body .col-md-6 {
        max-width: 100% !important;
        flex: inherit;
        margin-bottom: 25px;
    }
    .popup-body .col-md-6:last-child {
        margin-bottom: 0 !important;
    }
    .popup-cover .modal-content {
        width: 92%;
    }
}