<div class="policy-header d-flex">
<div class="pol-header-l">
    <h1 class="main-heading">Policy Information</h1>
    <span class="login-time"><strong>Last Login : </strong> {{lastLoginDate}} </span>
</div>
<div class="pol-header-r fs-20">
    <span class="pol-detl"><strong>Policy No:</strong> {{policyNumber}}</span>
    <!-- <span class="pol-detl"><strong>Policy Period:</strong> {{effectiveDate}} - 
        {{expirationDate}}</span> -->
</div>
</div>