.pointer {
    cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
  /* margin: 20px; */
}

.switch input {
    /* display:none; 
    background-color: #ccc; */
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   background-color: indianred;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #7dc4da;
}

input:focus + .slider {
  /* box-shadow: 0 0 1px #2196F3; */
  box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width:767px) {

.mpd15{ padding:0 15px!important;} 
.remove_button{margin:10px 0;}
.mobile_add_button{text-align:right;}

}