<body>
    <header>
        <div class="container">
            <div class="header-inner d-flex row">
                <div class="header-logo">
                    <a href="#"><img src="../../../../assets/images/arrowhead-logo.png"></a>
                </div>
                <nav class="navbar navbar-expand-md tabing_navigatiin navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					    <span class="navbar-toggler-icon"></span>
					 </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" (click)="policyDetails()">Policy Details</a></li>
                            <li class="nav-item active"><a class="nav-link" (click)="payment()">Payments</a></li>
                            <li class="nav-item"><a class="nav-link" (click)="policyDocuments()">Policy Documents</a></li>
                        </ul>
                    </div>
                </nav>

                <div class="right_header d-flex">
                    <div class="my-account">
                        <div class="dropdown">
                            <div class="dropdown-toggle" id="menu1" data-toggle="dropdown"><span class="user-icon"><img src="../../../../assets/images/MyAccount.svg"></span> <span class="mobile_rob">{{firstName}} {{lastName}}</span></div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <!-- <li><a href="#"><span class="dw-icon"><img src="../../../../assets/images/settings.svg"></span> Settings</a></li> -->
                                <li><a (click)="doLogout()"><span class="dw-icon"><img src="../../../../assets/images/logout.svg"></span> Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container pd-container">
            <div class="row">
                <div class="col-12 policy-container">
                    <div class="policy-header d-flex">
                        <div class="pol-header-l">
                            <h1 class="main-heading">Payments</h1>
                            <span class="login-time">Last Login Sunday January 26th 2020. 04:47PM EST</span>
                        </div>
                        <div class="pol-header-r fs-20">
                            <span class="pol-detl"><strong>Policy No:</strong> {{policyNumber}}</span>
                            <span class="pol-detl"><strong>Policy Period:</strong> {{effectiveDate}} - {{expirationDate}}</span>
                        </div>
                    </div>
                    <div class="pay-now-screen d-flex">
                        <div class="col-md-7 pr-5 pl-0">
                            <div class="payment-det-innet edit-card-tab">
                                <div>
                                  <div>
                                        <div class="payment-card-des">
                                            <div class="card-des-inner lg-card">
                                                <div class="visa-logo"><img src="../../../../assets/images/visa-icon.svg"></div>
                                                        <div class="card-number fs-30"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>{{DefaultCard.ccNumber}}</span></div>
                                                        <div class="card-small-numb">XXXX</div>
                                                        <div class="card-identity fs-25">
                                                            <div class="c-name">{{DefaultCard.ccName}}</div>
                                                            <div class="exp-dt">
                                                                <span class="valid-thru">Valid<br>Thru</span>
                                                                <span class="dt">{{DefaultCard.ccExpMonth}}/{{DefaultCard.ccExpYear}}</span>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                                <div class="amount-charge">
                                    <div class="pay-btn gradient-btn">
                                        <!-- <input type="checkbox" style="margin-right:10px;" [(ngModel)]="DefaultCard.isDefault" (change)="changeDefaultCard()"> -->


                                        <div class="row">
                                                <div class="col-sm-8 mpd15" style="padding:0px;text-align: left;">

                                                    <label class="switch" style="margin-right:10px;">
                                                        <input type="checkbox" [(ngModel)]="DefaultCard.isDefault" (change)="changeDefaultCard()">
                                                        <span class="slider round"></span>
                                                        </label>
                                                         <span style="font-size:16px; color:#7dc4da;">
                                                            <strong>Set this card as default</strong>
                                                        </span>
                                                        <div class="clear"></div>
                                                        <label class="switch" style="margin-right:10px;">
                                                            <input type="checkbox" style="margin-right:10px" [(ngModel)]="DefaultCard.isRecurring" (change)="setupRecurringOption()">
                                                            <span class="slider round"></span>
                                                            </label>
                                                            <span style="font-size:16px; color:#7dc4da">
                                                                <strong>Setup recurring payments</strong>
                                                            </span>
                                                </div>
                                                <div class="col-sm-4 remove_button" style="padding:0px;">
                                                    <button type="button" (click)="removeCard()" style="padding:10px 20px; font-size:12px; background:indianred">Remove Card</button>
                                                </div>   

                                        </div>


                                        
                                    </div>
                                </div>
                                <div class="amount-charge">
                                    <strong>Next Amount to be Charged</strong>
                                    <div class="amt-count">${{installmentAmount | number : '1.2-2'}}</div>
                                    <div class="pay-btn gradient-btn"><button type="button" (click)="payNow()">Pay Now</button></div>
                                    <br>
                                    <div class="select-payment-meth" style="margin-left:20%">
                                        <!-- <input type="checkbox" style="margin-right:10px" [(ngModel)]="DefaultCard.isRecurring" (change)="setupRecurringOption()">
                                        <span style="font-size:16px; margin-right:70px">
                                            <strong>Setup recurring payments</strong>
                                        </span> -->

                                        <!-- <div class="row">
                                                        <label class="switch" style="margin-right:10px;">
                                                        <input type="checkbox" style="margin-right:10px" [(ngModel)]="DefaultCard.isRecurring" (change)="setupRecurringOption()">
                                                        <span class="slider round"></span>
                                                        </label>

                                                         <span style="font-size:18px; color:#7dc4da">
                                                            <strong>Setup recurring payments</strong>
                                                        </span>
                                        </div> -->



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 pr-0 right-add-card">
                            <div class="gradient-btn float-right mobile_add_button">
                                <button class="btn-sm" type="button" (click)="addNewCard()" >+ Add Card</button>
                            </div>
                            <div class="payment-card-des">

                                <!-- Display Card List in loop -->
                               <div *ngFor="let card of cardList">
                                    <div *ngIf="card.isDefault==true" (click)="cardSelection(card)">
                                        <div class="card-des-inner card-1 card-selected">
                                            <div class="visa-logo" ><img src="../../../../assets/images/visa-icon.svg"></div>
                                            <div class="card-number fs-20"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>{{card.ccNumber}}</span></div>
                                            <div class="card-small-numb">XXXX</div>
                                            <div class="card-identity">
                                                <div class="c-name">{{card.ccName}}</div>
                                                <div class="exp-dt">
                                                    <span class="valid-thru">Valid<br>Thru</span>
                                                    <span class="dt">{{card.ccExpMonth}}/{{card.ccExpYear}}</span>
                                                </div>
                                            </div>
                                            <div class="selected-sign"><img src="../../../../assets/images/checkmark-for-verification.svg"></div>
                                        </div>
                                    </div>
                                    
                                    <div *ngIf="card.isDefault==false" (click)="cardSelection(card)">
                                        <div class="card-des-inner card-1">
                                            <div class="visa-logo"><img src="../../../../assets/images/visa-icon.svg"></div>
                                            <div class="card-number fs-20"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>{{card.ccNumber}}</span></div>
                                            <div class="card-small-numb">XXXX</div>
                                            <div class="card-identity">
                                                <div class="c-name">{{card.ccName}}</div>
                                                <div class="exp-dt">
                                                    <span class="valid-thru">Valid<br>Thru</span>
                                                    <span class="dt">{{card.ccExpMonth}}/{{card.ccExpYear}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                             
                                <!-- Display Card List in loop -->

                                <!-- <div class="card-des-inner card-1">
                                    <div class="visa-logo"><img src="../../../../assets/images/visa-icon.svg"></div>
                                    <div class="card-number fs-20"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>5432</span></div>
                                    <div class="card-small-numb">1234</div>
                                    <div class="card-identity">
                                        <div class="c-name">James Born</div>
                                        <div class="exp-dt">
                                            <span class="valid-thru">Valid<br>Thru</span>
                                            <span class="dt">03/17</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-des-inner card-2 card-selected">
                                    <div class="visa-logo"><img src="../../../../assets/images/visa-icon.svg"></div>
                                    <div class="card-number fs-20"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>5432</span></div>
                                    <div class="card-small-numb">1234</div>
                                    <div class="card-identity">
                                        <div class="c-name">James Born</div>
                                        <div class="exp-dt">
                                            <span class="valid-thru">Valid<br>Thru</span>
                                            <span class="dt">03/17</span>
                                        </div>
                                    </div>
                                    <div class="selected-sign"><img src="../../../../assets/images/checkmark-for-verification.svg"></div>
                                </div>
                                <div class="card-des-inner card-3">
                                    <div class="visa-logo"><img src="../../../../assets/images/visa-icon.svg"></div>
                                    <div class="card-number fs-20"><span>XXXX</span> <span>XXXX</span> <span>XXXX</span> <span>5432</span></div>
                                    <div class="card-small-numb">1234</div>
                                    <div class="card-identity">
                                        <div class="c-name">James Born</div>
                                        <div class="exp-dt">
                                            <span class="valid-thru">Valid<br>Thru</span>
                                            <span class="dt">03/17</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</body>